.edit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto 2rem;
  padding: 1rem;
  max-width: 700px;
  width: 90%;
}

.edit-container h1 {
  color: #0991bed5;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.edit-container form {
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 700px;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 8px;
}

.edit-container form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.edit-container form label p {
  color: #444;
}

.edit-container form label span {
  color: red;
}

.edit-container form label input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 8px;
  border-bottom: 2px solid #ccc;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

.edit-container form .file input[type="file"] {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border: none;
}

.edit-container form .file input[type="file"]:focus {
  border: none;
}

.edit-container form .file input[type="file"]::file-selector-button {
  width: 100%;
  background-color: #f4f4f4;
  color: #0991bed5;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

.edit-container form .file input[type="file"]::file-selector-button:hover {
  transform: scale(1.05);
}

.edit-container form label input:focus {
  border-bottom: 2px solid #0991bed5;
}

.edit-container form input[type="submit"] {
  align-self: center;
  width: 250px;
  padding: 0.5rem 1.6rem;
  background-color: #0991bed5;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  border: none;
  box-shadow: 0.5px 1px 4px 3px rgba(9, 145, 190, 0.4);
  cursor: pointer;
  transition: transform 0.4s;
}

.edit-container form input[type="submit"]:hover {
  transform: scale(1.05);
}

@media (max-width: 425px) {
  .edit-container h1 {
    font-size: 1.5rem;
  }

  .edit-container form input[type="submit"] {
    width: 150px;
  }
}
