.password-container {
    position: relative;
  }
  .password-container i {
    position: absolute;
    right: 8px;
    cursor: pointer;
    color: #666;
    top: 69%;
    transform: translateY(-50%);
  }